/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globals */
:root {
  --red:    #ff0000;
  --green:  #00cc00;
  --yellow: #ffcc00;
  --blue:   #0055ff;
  --black:  #000000;
  --gray:   #555555;
  --white:  #ffffff;
  --white-blur : rgba(255, 255, 255, 0.85);

  /* Fonts */
  --font-title: 'Oswald', sans-serif;
  --font-header: 'Playfair Display', serif;
  --font-body: 'Inter Tight', sans-serif;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Transition */
  --fade: all 0.3s ease-in-out;
}

body {
  font-family: var(--font-body);
  background-color: var(--white);
  color: var(--black);
  line-height: 1.6;
  padding: var(--spacing-);
}

/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal.show {
  animation: fadeInZoom 0.5s ease-out forwards;
}

.modal-content {
  background-color: var(--white);
  padding: var(--spacing-lg);
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.modal-text {
  font-size: 1.1rem;
  color: var(--black);
  margin-bottom: var(--spacing-md);
}
.text-red {
  color: var(--red);
  font-weight: bold;
}

.text-green {
  color: var(--green);
  font-weight: bold;
}

.text-yellow {
  color: var(--yellow);
  font-weight: bold;
}

.text-blue {
  color: var(--blue);
  font-weight: bold;
}

.text-gray {
  color: var(--gray);
  font-weight: bold;
}


.modal-buttons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
}

.modal-buttons button {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--fade);
}

#yes-button {
  background-color: var(--black);
  color: var(--white);
}

#no-button {
  background-color: var(--gray);
  color: var(--white);
}

.hidden {
  display: none;
}
